github_client_id       = "YOUR GITHUB APP CLIENT ID"
github_clientsecret    = "YOUR GITHUB APP CLIENT SECRET"

repository_base        = "/path/to/repos"
remote_repository_base = "git://path/to/repos"

session_key_salt       = "123456"
dsn_guita              = "dbi:mysql:dbname=guita;host=localhost"
