.global-container {
    padding-top: 55px;
}

.navbar-brand {
    font-family: 'Bigshot One', cursive;
}

h1 {
    font-size: 24px;
    padding-bottom: 10px;
}

h2 {
    font-size: 22px;
}

.navbar .avator-img {
    position: absolute;
    top: 2px;
    left: -22px;
}

.navbar .avator-img a {
    padding: 0px;
    margin: 0px;
}

.navbar .avator-img img {
    width:  16px;
    height: 16px;
}

.code-form .code {
    width: 100%;
}

.code-form .code-description {
    width: 100%;
}

#pick-files {
    margin-top: 10px;
}

.code-show {
}

.code-show .code-info {
    padding: 5px;
    color: #A9A9A9;
}

.code-show .code-info .code-filename {
    font-size: 16px;
}

.code-filename {
    width: 20%;
}

.picks-pager {
    font-size: 20px;
    margin: 15px auto;
    margin-bottom: 40px;
    text-align: center;
}

.pick-show {
    margin-bottom: 20px;
}

.pick-show .pick-info-short {
    padding: 5px 0;
    font-size: 16px;
}

.pick-show .pick-info-short .pick-description {
    margin-top: 5px;
    font-size: 14px;
}

.pick-show .pick-info-short-sub {
    font-size: 12px;
}

.pick-info-short .avator-img img {
    position: relative;
    top: 2px;
    width:  16px;
    height: 16px;
}

.pick-delete {
    padding-top: 20px;
}

#pick-info h1 {
    padding-bottom: 0;
}

#pick-info button {
    position: relative;
    top: -3px;
}

#pick-info .pick-description {
    font-size: 24px;
}

#pick-info .pick-clone-command {
    padding-top: 5px;
}

#pick-info .pick-clone-command code {
    color: #a9a9a9;
    background: none;
    border: none;
}

#pick-info .pick-clone-command i {
    margin: 1px;
}

.pick-star-count {
    white-space: nowrap;
}

.pick-star-count .pick-star-container {
    font-size: 12px;
    color: #38a1db;
}

#pick-delete-alert {
    margin-top: 10px;
    padding: 10px;
}

#pick-delete-alert form {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
}

#pick-delete-alert form input {
    margin: 0 auto;
}

.log {
    padding-top: 7px;
}
