<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>[% title %] Guita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href='http://fonts.googleapis.com/css?family=Bigshot+One' rel='stylesheet' type='text/css'>

    [%- JS = [] %]
    [%- JS.push("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js") %]
    [%- JS.push("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js") %]
    [%- JS.push("http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js") %]
    [%- JS.push("/js/bootstrap.js") %]

    [%- FOR path IN JS %]
    <script type="text/javascript" src="[% path %]"></script>
    [%- END %]

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="stylesheet" href="/js/highlight/styles/zenburn.css" type="text/css" media="all" /> -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" type="text/css" media="all" />[% # XXX %]
    <link rel="stylesheet" href="/css/guita.css" type="text/css" media="all" />

  </head>
  <body onload="prettyPrint();">
    <div class="global-container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Guita</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li [% IF nav == 'picks' %]class="active"[% END %]><a href="/picks">All</a></li>
                <li [% IF nav == 'create' %]class="active"[% END %]><a href="/picks/-/create">Create</a></li>
              </ul>
              <ul class="nav pull-right">
                [% IF !user.is_guest %]
                  <li class="avator-img">
                    <a href="/mine"><img src="[% user.avatar_url %]"></img></a>
                  </li>
                [% END %]
                <li><a href="/mine">[% user.name %]</a></li>
                [% IF user.is_guest %]
                  <li><a href="/auth">login</a></li>
                [% ELSE %]
                  <li><a href="/auth/logout">logout</a></li>
                [% END %]
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="content">
          [%- content %]
        </div>
        <!--
        <div class="footer">
          Guita
        </div>
        -->
      </div>

    </div>
  </body>
</html>
