[% WRAPPER '_wrapper.html' WITH nav = 'create' %]

<div class="row">
  <div class="span12">
    <form action="/picks/create" method="post" class="well code-form">
      <div>
          <input class="code-description" type="text" name="description" value="" placeholder="description here"></input>
          <br>
          <input class="code-filename" type="text" name="name" value="" placeholder="filename here"></input>
          <br>
          <textarea class="code" name="code" rows="15" cols="80" placeholder="write your code"></textarea>
          <br>
          <input class="btn-primary btn-large" type="submit" value="Post"></input>
      </div>
    </form>
  </div>
</div>

[% END # WRAPPER %]
