[% WRAPPER '_wrapper.html' %]

<div class="span12">
<form action="/[% id %]/[% sha %]/-/edit" method="post" class="well code-form">
  <input class="code-description" type="text" name="description" value="[% pick.description %]" placeholder="description"></input>
  [% FOR file IN pick.files %]
    <div>
        <br>
        <input class="code-filename" type="text" name="name" value="[% file.path %]" placeholder="filename" readonly="readonly"></input>
        <br>
        <textarea class="code" name="code" rows="15" cols="80" placeholder="write your code">[% file.blob.content %]</textarea>
        <br>
    </div>
  [% END %]
  <input class="btn-primary btn-large" type="submit" value="Save"></input>
</form>
</div>

[% END # WRAPPER %]
