[% WRAPPER '_wrapper.html' WITH nav = author ? '' : 'picks'%]

<!--
<div class="row">
  <div class="span8">
    <h1>Picks</h1>
  </div>
</div>
-->

<div class="row">
  <div class="span10">
    <h1>[% IF author %][% author.name %][% ELSE %][% END %]</h1>
  </div>
  <div id="recents" class="span10">
    [% IF recents.size() > 0 %]
      [% FOR recent IN recents %]
        <div class="pick-show">
          <div class="pick-info-short">
            <a href="/[% recent.pick.uuid %]">[% strip(recent.pick.description, 140) || recent.pick.uuid %]</a>
            <div class="pick-star-count" data-pickid="[% recent.pick.uuid %]">
              <button class="add-pick-star btn btn-mini">★</button>
              <span class="pick-star-container">[% IF recent.pick.star_count %][%- FOR i in [0..(recent.pick.star_count-1)] -%]★[%- END -%][% END %]</span>
            </div>
            <div class="pick-info-short-sub">
              [% recent.pick.modified %]
              [% IF !recent.author.is_guest %]
              <span class="avator-img">
                by 
                <a href="/[% recent.author.name %]"><img src="[% recent.author.avatar_url %]"></img></a>
                <a href="/[% recent.author.name %]">[% recent.author.name %]</a>
              </span>
            </div>
            [% END %]
          </div>
          <pre class="prettyprint linenums">[% strip(recent.blob.contents, 140) %]</pre>
        </div>
      [% END %]
      <div class="picks-pager">
        [% IF pager.has_prev %] <a href="/picks[% IF pager.page - 1 != 1 %]?page=[% pager.page - 1 %][% END %]"> prev </a> [% END %]
        [% IF pager.has_next %] <a href="/picks?page=[% pager.page + 1 %]"> next </a> [% END %]
      </div>
    [% ELSE %]
      <div class="alert alert-info">
        <h4 class="alert-heading">First, create code picks.</h4>
        When you <a href="/picks/-/create">create</a> code picks, they will be listed here.
      </div>
    [% END %]
  </div>
  [% IF 0 %]
  <div id="login" class="span4">
    <!--
      <div class="alert alert-info">
        <h4 class="alert-heading">You can login.</h4>
        When you <a href="/picks/create">create</a> code picks, they will be listed here.
      </div>
      -->

    <!--
    [% IF user.is_guest %]
      <a href="/auth"><button class="btn-info btn-large">Login with github</button></a>
    [% ELSE %]
      <h2>[% user.name %]</h2>
    [% END %]
    -->
  </div>
  [% END %]
</div>

[% END # WRAPPER %]
